<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Otter Fodder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div>
            <button class="btn btn-primary" onclick="previewProfile()">Profile</button> &nbsp
          </div>
        </li>
        <li class="nav-item">
          <form id="shellStackForm" action="/shellstack">
            <button class="btn btn-success">Shell Stack</button> &nbsp
          </form>
        </li>   
        <li class="nav-item">
          <form action="/user/matches">
            <button class="btn btn-info">Matches</button>&nbsp
          </form>
        </li>
        <li class="nav-item">
          <form action="/logout">
            <button class="btn btn-danger">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>

</script>
